.menuItem {
  border-bottom: 1px solid #d0d1d2;
  text-align: left;
  cursor: pointer;
}

.menuItem > h4 {
  font-weight: 500;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  padding-bottom: 15px;
  font-size: 15px;
  padding-left: 10px;
  cursor: pointer;
}
